.Checkout-Test {
  background: var(--breadcrumbs-background);
  min-height: calc(var(--breadcrumbs-height) * 1.5);
  padding: 0;
  display: flex;
  position: relative;
  font-weight: bold;
}

.Checkout-Test-Progress {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-bottom: 2.4rem;
  align-self: flex-start;
  display: flex;
}

.Checkout-Test-Item {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50%;
}

.Checkout-Test-Render {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1.2rem;
  align-items: center;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
}

.Checkout-Test-Item-Inner {
  background-color: #0a0a0a;
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.active {
  background-color: var(--primary-base-color) !important;
  opacity: 1;
}

.test {
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  padding: auto;
  text-align: center;
  width: 4.6rem;
}

.Checkout-Test-Item-Outer {
  background: var(--primary-divider-color) !important;
  width: 4.6rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.active-title {
  opacity: 1 !important;
}

.Checkout-Test-Item-Title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  padding: 1.2rem 0;
  word-break: keep-all;
  white-space: nowrap;
  opacity: 0.5;
}

progress[value]::-webkit-progress-value {
  background-color: var(--primary-base-color) !important;
}
progress[value]::-webkit-progress-bar {
  background: rgba(10, 10, 10, 0.5);
}
